@page "/"
@using MilesHighPoker.GameLogic

<PageTitle>Miles High Poker</PageTitle>

<div class="app-container">
    <h1 class="text-center p-1">Miles High Poker</h1>

    <div id="gameplay-div" class="container">
        <div id="community-card-div">
            @for (int i = 0; i < CommunityCards.Length; i++)
            {
                <div id="community-card-@i"
                     class="community-card-slot"
                     data-slot="@i"
                     @key="i">
                    @if (CommunityCards[i] != null)
                    {
                        <span>@CommunityCards[i]!.Rank of @CommunityCards[i]!.Suit</span>
                    }
                    else
                    {
                        <span>Empty</span>
                    }
                </div>
            }
        </div>

        <div id="pot">
            <p class="text-center m-5">$@Pot</p>
        </div>

        <div id="top-left-player" class="player-seat">
            <div class="player-cards">
                <div id="top-left-player-card-0" class="player-card-slot">Card</div>
                <div id="top-left-player-card-1" class="player-card-slot">Card</div>
            </div>
            <div id="top-left-player-name" class="player-name">Player Name</div>
            <div id="top-left-player-money" class="player-money">$0</div>
        </div>

        <div id="top-right-player" class="player-seat">
            <div class="player-cards">
                <div id="top-right-player-card-0" class="player-card-slot">Card</div>
                <div id="top-right-player-card-1" class="player-card-slot">Card</div>
            </div>
            <div id="top-right-player-name" class="player-name">Player Name</div>
            <div id="top-right-player-money" class="player-money">$0</div>
        </div>

        <div id="bottom-left-player" class="player-seat">
            <div class="player-cards">
                <div id="bottom-left-player-card-0" class="player-card-slot">Card</div>
                <div id="bottom-left-player-card-1" class="player-card-slot">Card</div>
            </div>
            <div id="bottom-left-player-name" class="player-name">Player Name</div>
            <div id="bottom-left-player-money" class="player-money">$0</div>
        </div>

        <div id="bottom-right-player" class="player-seat">
            <div class="player-cards">
                <div id="bottom-right-player-card-0" class="player-card-slot">Card</div>
                <div id="bottom-right-player-card-1" class="player-card-slot">Card</div>
            </div>
            <div id="bottom-right-player-name" class="player-name">Player Name</div>
            <div id="bottom-right-player-money" class="player-money">$0</div>
        </div>

        <div id="current-player-div" class="player-seat current-player-seat">
            <div class="player-cards">
                <div id="current-player-card-0" class="player-card-slot">Card</div>
                <div id="current-player-card-1" class="player-card-slot">Card</div>
            </div>
            <div id="current-player-name" class="player-name">You</div>
            <div id="current-player-money" class="player-money">$0</div>
        </div>

        <div id="current-player-actions" class="text-center">
            <button class="btn btn-danger m-3">
                <h3>Raise</h3>
            </button>
            <button class="btn btn-danger m-3">
                <h3>Call</h3>
            </button>
            <button class="btn btn-danger m-3">
                <h3>Fold</h3>
            </button>
        </div>
    </div>
</div>
