@page "/"

<PageTitle>Miles High Poker</PageTitle>

<div class="app-container">
    <h1 class="text-center p-1">Miles High Poker</h1>
    
    <div id="gameplay-div" class="container">
        
    </div>
</div>